<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.sales.order.service.impl.OrderMapper">
<select id="find" resultType="Order">
		select 
			a.*,b.co_nm as "coNm"
			 from (select o.order_no as "orderNo"
			,o.recv_dt as "recvDt"
			,o.prog_info as "progInfo"
            ,o.paprd_dt as "paprdDt" 
            ,o.co_cd
			,d.prdt_cd as "prdtCd"
			,d.order_qty as "orderQty"
			,d.indica_qty as "indicaQty"
			,d.oust_qty as "oustQty"
			,d.prdt_stc as "prdtStc"            
			from order_tb o 
		join order_d d on o.order_no=d.order_no) a join co b on a.co_cd=b.co_cd


</select>






</mapper>