<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.sales.order.service.impl.OrderMapper">

	<select id="findDetail" resultType="Order">
		select a.*,b.prdt_nm from (select o.order_no
		,o.recv_dt
		,o.prog_info 
		,o.paprd_dt 
		,d.prdt_cd 
		,d.order_qty 
		,d.indica_qty 
		,d.oust_qty
		,d.prdt_stc
		from order_tb o
		join order_d d on o.order_no=d.order_no) a join prdt b on a.prdt_cd=b.prdt_cd
		where a.order_no = #{orderNo}


	</select>

	<select id="find" resultType="Order">
		select o.order_no 
				,o.recv_dt 
				,o.prog_info 
				,o.paprd_dt 
				,c.co_nm 
				,dcnt('order_tb',o.order_no) as deNum
				from order_tb o join co c on o.co_cd=c.co_cd
	</select>




</mapper>