<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.sales.order.service.impl.OrderMapper">
	<select id="findDetail" resultType="Order">
		select a.*,b.prdt_nm from
		(select o.order_no
		,o.recv_dt
		,o.prog_info
		,o.paprd_dt
		,d.prdt_cd
		,d.order_qty
		,d.indica_qty
		,d.oust_qty
		,d.prdt_stc
		from order_tb o
		join order_d d on o.order_no=d.order_no) a
		join prdt b on a.prdt_cd=b.prdt_cd
		where a.order_no = #{orderNo}
		order by a.prdt_cd asc

	</select>

	<select id="find" resultType="Order">
		select o.order_no
		,o.recv_dt
		,o.prog_info
		,o.paprd_dt
		,c.co_nm
		,nvl((select REGEXP_REPLACE(listagg(prdt_cd,',') within group(order by prdt_cd),'([^,]+)(,\1)*(,|$)', '\1\3')
		 from order_d where order_no =o.order_no),'없음') as deNum
		from order_tb o join co c on o.co_cd=c.co_cd
		where 
		<if test="startT!=null or endT!=null">
			
			<if test='dateTy == "접수"'>

					<![CDATA[	
						TO_CHAR(o.recv_dt,'yyyyMMdd')>= TO_CHAR(#{startT},'yyyyMMdd') and TO_CHAR(o.recv_dt,'yyyyMMdd')<= TO_CHAR( #{endT},'yyyyMMdd')
					]]>
					
			</if>
			<if test='dateTy == "납기"'>
				
					<![CDATA[	
					TO_CHAR(o.paprd_dt,'yyyyMMdd')>= TO_CHAR(#{startT},'yyyyMMdd') and TO_CHAR(o.paprd_dt,'yyyyMMdd')<= TO_CHAR( #{endT},'yyyyMMdd')
					]]>
					
			</if>
		</if>
		<choose>
			<when test="nowSt !=null and nowSt != ''">
				<choose>
					<when test='nowSt == "진행"'>
						and o.prog_info='진행'
					</when>
					<when test='nowSt == "종료"'>
						and o.prog_info='종료'
					</when>
					<when test='nowSt == "모두"'>

					</when>
				</choose>
			</when>
			<otherwise>
				o.prog_info='진행'
			</otherwise>
		</choose>
		
		order by o.order_no asc
	</select>


	<update id="inStcUpdate">
		update order_d set prdt_stc=
		((select count(prdt_lot) from prdt_stc where prdt_cd=#{prdtCd} and prdt_fg='I')-(select count(prdt_lot) from prdt_stc where prdt_cd=#{prdtCd} and prdt_fg='O')) where prdt_cd=#{prdtCd}
	
	</update>

	<select id="orderCal" resultType="Calendar">
		select '주문서 '||order_no||' 발주' title,recv_dt "start",paprd_dt+1 "end",'or' as "url" from order_tb
	</select>
	<!-- <select id="orderEndCal" resultType="Calendar">
		select '주문서 '||order_no||' 납기일' title,paprd_dt+1 "start" from order_tb
	</select> -->

	<select id="inPrdtCal" resultType="Calendar">
		select '입고 '||count(*)||'건' as title ,prdt_dt as "start",'in' as "url" from prdt_stc where prdt_fg = 'I' and prdt_lot in	
	                            (select prdt_lot from prdt_stc where prdt_fg='I') 
	                        and prdt_lot not in
	                            (select prdt_lot from prdt_stc where prdt_fg='O' or prdt_fg='OW') group by prdt_dt
	</select>
	<select id="outPrdtCal" resultType="Calendar">
		select '출고 '||slip_no as title, prdt_dt,'out' as "url" as "start" from oust
	</select>	
	<select id="rscCal" resultType="Calendar">
		select rsc_cd||'가 '||decode(rsc_fg,1,'입고',0,'출고')||'된 수량 : '||rsc_qty as title,rsc_dt as "start" from rsc_inout
	</select>
	<select id="eqmCal" resultType="Calendar">
		select e.eqm_cd||'에 '||u.uopr_nm||' 발생' as title,e.fr_tm as "start"   from eqm_uo e join uopr_cd u on e.uopr_cd=u.uopr_cd
	</select>
	<select id="eqmEndCal" resultType="Calendar">
		select e.eqm_cd||'에 '||u.uopr_nm||' 종료' as title,e.to_tm as "start"   from eqm_uo e join uopr_cd u on e.uopr_cd=u.uopr_cd where e.to_tm is not null
	</select>
	<select id="prodCal" resultType="Calendar">
		<![CDATA[select '제품 '||d.prdt_cd||'를 '||sum(d.indica_qty)||'개 생산지시' as title,i.indica_dt as "start" from indica i join indica_d d on i.indica_no=d.indica_no group by i.indica_no, i.indica_dt, d.prdt_cd, i.indica_nm
	]]>
	</select>
	
</mapper>