<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.prdt.service.impl.PrdtChaseMapper">

	<select id="findLotList" resultType="PrdtChase">
	select distinct p.prdt_lot from prdt_stc p 
		<where>
			<if test="prdtLot !=null and prdtLot !=''">
				and 	prdt_lot like '%'||#{prdtLot}||'%' 
			</if>
			<if test="prdtCd !=null and prdtCd !=''">
			 	and	prdt_cd like '%'||#{prdtCd}||'%' 
			</if>
			<if test="prdtFg !=null and prdtFg !=''">
				<choose>
				<when test='prdtFg =="I"'>
				and prdt_fg = 'I' and prdt_lot not in (select prdt_lot from prdt_stc where prdt_fg= 'O')
				</when>
				<otherwise>
				and	prdt_fg = #{prdtFg} 
				</otherwise>
				</choose>
			</if>
			<if test='det == "Y"'>
			<if test="wkNo !=null and wkNo !=''">
				and prdt_lot in (select prdt_lot from rsc_clot where wk_no like '%'||#{wkNo}||'%'  )
			</if>
			<if test="indicaNo !=null and indicaNo !=''">
				and indica_deta_no in (select indica_deta_no from indica_d where indica_no like '%'||#{indicaNo}||'%'  )
			</if>
			<if test="slipNo !=null and slipNo !=''">
				and indica_deta_no in (select slip_deta_no from oust_d where slip_no like '%'||#{slipNo}||'%'  )
			</if>
			<if test="orderNo !=null and orderNo !=''">
				and indica_deta_no in (select slip_deta_no from oust_d where order_no like '%'||#{orderNo}||'%'  )
			</if>
			<if test="rscLot !=null and rscLot !=''">
				and indica_deta_no in (select indica_deta_no from rsc_con where rsc_lot like '%'||#{rscLot}||'%'  )
			</if>
			<if test="startTOut !=null ">
				and 
				<![CDATA[	
					TO_CHAR(prdt_dt,'yyyyMMdd')>= TO_CHAR(#{startTOut},'yyyyMMdd') and TO_CHAR(prdt_dt,'yyyyMMdd')<= TO_CHAR( #{endTOut},'yyyyMMdd')
				]]> and prdt_fg='O'
				
			</if>
			<if test="startTIn !=null">
				and
				<![CDATA[	
					TO_CHAR(prdt_dt,'yyyyMMdd')>= TO_CHAR(#{startTIn},'yyyyMMdd') and TO_CHAR(prdt_dt,'yyyyMMdd')<= TO_CHAR( #{endTIn},'yyyyMMdd')
				]]> and prdt_fg = 'I' and prdt_lot not in (select prdt_lot from prdt_stc where prdt_fg= 'O')
							</if>
			<if test="startTIndica !=null">
				
				<![CDATA[	
					TO_CHAR(INDICA_DT,'yyyyMMdd')>= TO_CHAR(#{startTIndica},'yyyyMMdd') and TO_CHAR(INDICA_DT,'yyyyMMdd')<= TO_CHAR( #{endTIndica},'yyyyMMdd')
				]]> and prdt_fg = 'P' and prdt_lot not in (select prdt_lot from prdt_stc where prdt_fg= 'C')
							</if>
		</if>
		
		</where>
	
	</select>




</mapper>