<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.prod.indica.service.impl.IndicaMapper">

<select id="selectIdc" resultType="IndicaVO">
	SELECT 
		B.indica_deta_no,
		B.indica_no,
		(SELECT co_cd FROM order_tb WHERE order_no = p.order_no) co_cd,
		B.prdt_cd,
		(SELECT prdt_nm FROM prdt WHERE prdt_cd = B.prdt_cd) prdt_nm,
		P.order_no,
		TO_CHAR((SELECT paprd_dt FROM order_tb WHERE order_no = P.order_no), 'YYYY/MM/DD') paprd_dt,
		O.order_qty,
		B.indica_qty,
		B.prod_fg,
		TO_CHAR(B.wk_dt, 'YYYY/MM/DD') wk_dt,
		B.wk_ord,
		'10' as day_out_put,
		(B.indica_qty/10) as prod_day
	FROM indica_d B, plan_d P, order_d O
	WHERE  B.plan_deta_no = P.plan_deta_no
	AND P.order_no = O.order_no
	AND B.prdt_cd = O.prdt_cd
		<if test="startT != null and startT != ''">
		AND B.indica_dt <![CDATA[>=]]> TO_DATE(#{startT}, 'YYYY/MM/DD')
		</if>
		<if test="endT != null and endT != ''">
		AND B.indica_dt <![CDATA[<=]]> TO_DATE(#{endT}, 'YYYY/MM/DD')
		</if>
		<if test="coCd != null and coCd != ''">
		AND (SELECT co_cd FROM order_tb WHERE order_no = P.order_no) = #{coCd}
		</if>
		<if test="prdtCd != null and prdtCd != ''">
		AND B.prdt_cd = #{prdtCd}
		</if>
		<if test="indicaNo != null and indicaNo != ''">
		AND B.indica_no = #{indicaNo}
		</if>
</select>

<select id="findIndica" resultType="IndicaVO">
	SELECT DISTINCT
		i.indica_no,
		TO_CHAR(i.indica_dt, 'YYYY-MM-DD') indica_dt,
		i.indica_nm
	FROM indica i
    JOIN indica_d id  ON i.indica_no = id.indica_no
    LEFT JOIN prcs_pr_m p ON (id.prdt_cd = p.prdt_cd AND id.indica_deta_no = p.indica_deta_no)
    WHERE  p.wk_dt is null
	ORDER BY indica_no
</select>

<select id="selectRscList" resultType="IndicaVO">
	SELECT *
	FROM prdt_bom
	WHERE prdt_cd = #{prdtCd}
</select>

<select id="selectRscLot" resultType="IndicaVO">
 select r.rsc_cd, r.rsc_lot,
     sum(nvl((select rsc_qty from rsc_inout where r.rsc_fg=1 and rsc_lot=r.rsc_lot),0)
     -nvl((select rsc_qty from rsc_inout where r.rsc_fg=0 and rsc_lot=r.rsc_lot),0) ) as rsc_stc
 from rsc_inout r 
 where rsc_cd = #{rscCd}
 group by rsc_cd, rsc_lot
</select>

<select id="noIndicaPlan" resultType="ProdPlanVO">
	SELECT 
		B.plan_deta_no,
		A.plan_no,
		TO_CHAR(B.plan_dt, 'YYYY/MM/DD') plan_dt,
		(SELECT co_nm FROM co WHERE co_cd = O.co_cd) co_nm,
		O.co_cd,
		TO_CHAR((SELECT recv_dt FROM order_tb WHERE order_no = b.order_no), 'YYYY/MM/DD') recv_dt,
		B.prdt_cd, 
		(SELECT prdt_nm FROM prdt WHERE prdt_cd = B.prdt_cd) prdt_nm,
		B.order_no,
		TO_CHAR(O.paprd_dt, 'YYYY/MM/DD') paprd_dt,
		(SELECT order_qty FROM order_d WHERE order_no = B.order_no AND prdt_cd =B.prdt_cd) order_qty,
		B.plan_qty,
		TO_CHAR(B.wk_dt, 'YYYY/MM/DD') wk_dt,
		B.wk_ord,
		A.plan_dt,
		A.plan_nm,
		'10' as day_output,
		(B.plan_qty/10) as prod_day
	FROM plan A, plan_d B, order_tb O
	WHERE A.plan_no = B.plan_no
    AND B.order_no = O.order_no
    AND (SELECT order_qty FROM order_d WHERE order_no = b.order_no AND prdt_cd = b.prdt_cd) > (SELECT indica_qty FROM order_d WHERE order_no = b.order_no AND prdt_cd = b.prdt_cd)
    ORDER BY paprd_dt, order_qty desc
</select>

</mapper>