<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.prod.indica.service.impl.IndicaMapper">

<select id="selectIdc" resultType="IndicaVO">
	SELECT 
		B.indica_deta_no,
		B.indica_no,
		B.indica_dt,
		(SELECT co_cd FROM order_tb WHERE order_no = P.order_no) co_cd,
		B.prdt_cd,
		TO_CHAR((SELECT recv_dt FROM order_tb WHERE order_no = P.order_no), 'YYYY/MM/DD') recv_dt,
		(SELECT prdt_nm FROM prdt WHERE prdt_cd = B.prdt_cd) prdt_nm,
		P.order_no,
		TO_CHAR((SELECT paprd_dt FROM order_tb WHERE order_no = P.order_no), 'YYYY/MM/DD') paprd_dt,
		O.order_qty,
		P.plan_deta_no,
		P.plan_dt,
		P.plan_qty,
		B.indica_qty,
		B.prod_fg,
		TO_CHAR(B.wk_dt, 'YYYY/MM/DD') wk_dt,
		B.wk_ord,
		(SELECT min(uph) FROM EQM) as day_out_put,
		(B.indica_qty/10) as prod_day
	FROM indica_d B
	JOIN plan_d P ON B.plan_deta_no = P.plan_deta_no
	JOIN order_d O ON (P.order_no = O.order_no AND B.prdt_cd = O.prdt_cd)
	WHERE 1=1
		<if test="startT != null and startT != ''">
		AND B.indica_dt <![CDATA[>=]]> TO_DATE(#{startT}, 'YYYY/MM/DD')
		</if>
		<if test="endT != null and endT != ''">
		AND B.indica_dt <![CDATA[<=]]> TO_DATE(#{endT}, 'YYYY/MM/DD')
		</if>
		<if test="coCd != null and coCd != ''">
		AND (SELECT co_cd FROM order_tb WHERE order_no = P.order_no) = #{coCd}
		</if>
		<if test="prdtCd != null and prdtCd != ''">
		AND B.prdt_cd = #{prdtCd}
		</if>
		<if test="indicaNo != null and indicaNo != ''">
		AND B.indica_no = #{indicaNo}
		ORDER BY indica_no
		</if>
</select>

<select id="findIndica" resultType="IndicaVO">
	SELECT DISTINCT
		i.indica_no,
		TO_CHAR(i.indica_dt, 'YYYY-MM-DD') indica_dt,
		i.indica_nm
	FROM indica i
    JOIN indica_d id  ON i.indica_no = id.indica_no
    LEFT JOIN prcs_pr_m p ON (id.prdt_cd = p.prdt_cd AND id.indica_deta_no = p.indica_deta_no)
    WHERE  p.wk_dt is null
	ORDER BY indica_no
</select>

<select id="selectRscList" resultType="IndicaVO">
	SELECT 
		rsc_cd,
		prdt_cd,
		rsc_nm,
		rsc_use_qty,
		prcs_nm
	FROM prdt_bom
	WHERE prdt_cd = #{prdtCd}
</select>

<select id="selectRscLot" resultType="IndicaVO">
 SELECT 
 	r.rsc_cd, 
 	r.rsc_lot,
 	(select rsc_use_qty from prdt_bom where prdt_cd = #{prdtCd} and rsc_cd = #{rscCd}) as rsc_use_qty,
    (nvl((select sum(rsc_qty) from rsc_inout where r.rsc_fg=1 and rsc_lot=r.rsc_lot),0)
     -nvl((select sum(rsc_qty) from rsc_inout where r.rsc_fg=0 and rsc_lot=r.rsc_lot),0) ) as rsc_stc
 FROM rsc_inout r 
 WHERE rsc_cd = #{rscCd}
</select>

<select id="noIndicaPlan" resultType="ProdPlanVO">
	SELECT 
		B.plan_deta_no,
		A.plan_no,
		TO_CHAR(B.plan_dt, 'YYYY/MM/DD') plan_dt,
		(SELECT co_nm FROM co WHERE co_cd = O.co_cd) co_nm,
		O.co_cd,
		TO_CHAR((SELECT recv_dt FROM order_tb WHERE order_no = b.order_no), 'YYYY/MM/DD') recv_dt,
		B.prdt_cd, 
		(SELECT prdt_nm FROM prdt WHERE prdt_cd = B.prdt_cd) prdt_nm,
		B.order_no,
		TO_CHAR(O.paprd_dt, 'YYYY/MM/DD') paprd_dt,
		(SELECT order_qty FROM order_d WHERE order_no = B.order_no AND prdt_cd =B.prdt_cd) order_qty,
		B.plan_qty,
		TO_CHAR(B.wk_dt, 'YYYY/MM/DD') wk_dt,
		B.wk_ord,
		A.plan_dt,
		A.plan_nm,
		(SELECT min(uph) FROM EQM) as day_output,
		(B.plan_qty/(SELECT min(uph) FROM EQM)) as prod_day
	FROM plan A, plan_d B, order_tb O
	WHERE A.plan_no = B.plan_no
    AND B.order_no = O.order_no
    AND (SELECT order_qty FROM order_d WHERE order_no = b.order_no AND prdt_cd = b.prdt_cd) 
    	> (SELECT indica_qty FROM order_d WHERE order_no = b.order_no AND prdt_cd = b.prdt_cd)
    ORDER BY prdt_cd, paprd_dt, order_qty desc
</select>

<select id="makeDno" resultType="String">
	SELECT nvl(max(indica_deta_no), 0)+1 
	FROM indica_d
</select>

<select id ="makePrdtNo" resultType="String">
	SELECT nvl(count(prdt_lot), 0)+1 
	FROM prdt_stc 
	WHERE prdt_dt = sysdate
</select>

<select id="rscCnt" resultType="String">
	SELECT cmmn_cd_deta_id 
	FROM cmmn_data_d
	WHERE cmmn_cd_id = 'rsc'
</select>

<!-- **************************** 지시등록 ********************************** -->
<insert id="insertIndica">
	INSERT INTO indica (indica_no,
					  	indica_dt,
					  	indica_nm)
	VALUES( CREATENO('IND', INDICASEQ.nextval), 
			TO_DATE(#{indicaDt}, 'YYYY/MM/DD'),
			#{indicaNm} )
</insert>

<insert id="insertIndicaD">
	<selectKey keyProperty="indicaDetaNo" resultType="int" order="BEFORE"> 
		SELECT nvl(max(indica_deta_no), 0)+1 FROM indica_d
	</selectKey>
	INSERT INTO indica_d (indica_deta_no,
						indica_no,
						indica_dt,
						plan_deta_no,
						prdt_cd,
						prod_fg,
						indica_qty,
						wk_ord,
						wk_dt,
						plan_dt)
	VALUES( #{indicaDetaNo}, 
			(SELECT nvl(max(indica_no),0) FROM indica), 
			TO_DATE(#{indicaDt}, 'YYYY/MM/DD'),
			#{planDetaNo},
			#{prdtCd}, 
			#{prodFg},
			#{indicaQty}, 
			#{wkOrd}, 
			TO_DATE(#{wkDt}, 'YYYY/MM/DD'),
			TO_DATE(#{planDt}, 'YYYY/MM/DD')  )
</insert>

<!-- indicaDgrid -> 주문상세T 지시량 변경 -->
<update id="updateOdIdQty">
	UPDATE order_d
	SET indica_qty = #{indicaQty}
	WHERE order_no = #{orderNo}
	AND prdt_cd = #{prdtCd}
</update>

<!-- hdRscConGrid -> 생산소요자재T 등록 -->
<insert id="insertRscCon">
	<selectKey keyProperty="rscConNo" resultType="int" order="BEFORE"> 
		SELECT nvl(max(rsc_con_no), 0)+1 FROM rsc_con
	</selectKey>
	INSERT INTO rsc_con (	rsc_con_no,
							indica_deta_no,
							rsc_lot,
							rsc_con_qty 	)
	VALUES ( 	#{rscConNo},
				#{indicaDetaNo},
				#{rscLot},
				#{rscQty}	)
</insert>

<!-- hdRscConGrid -> 자재입고출고T 등록 -->
<insert id="insertRscOut">
	INSERT INTO rsc_inout ( rsc_slip_no,
							rsc_cd,
							rsc_lot,
							rsc_qty,
							rsc_fg	)
	VALUES (	'rout'|| to_char(sysdate,'yyMMdd') || trim(to_char(RSCJEONPYOSEQ.nextval, '000')),
				#{rscCd},
				#{rscLot},
				#{rscQty},
				0	)
</insert>

<!-- hdRscConGrid -> 자재재고T 자재재고 변경 -->
<update id="updateUseRscStc">
	UPDATE rsc_stc
	SET	rsc_stc = rsc_stc - #{rscQty} 
	WHERE rsc_cd = #{rscCd}
</update>

<!-- hdPrdtRscGrid -> 자재사용현황T 등록 -->
<insert id="insertPdRc">
	INSERT INTO prdt_rsc (	prdt_lot,
							rsc_lot,
							rsc_con_qty)
	VALUES (	#{prdtLot},
				#{rscLot},
				#{rscUseQty} )
</insert>

<!-- hdPrdtRscGrid -> 제품재고관리T 등록 -->
<insert id="insertPdSc">
	<selectKey keyProperty="prdtInx" resultType="int" order="BEFORE"> 
		SELECT nvl(max(prdt_inx), 0)+1 FROM prdt_stc
	</selectKey>
	INSERT INTO prdt_stc (	prdt_inx,
							prdt_lot,
							prdt_fg,
							prdt_cd,
							indica_deta_no	)
	VALUES ( 	#{prdtInx},
				#{prdtLot},
				'P',
				#{prdtCd},
				#{indicaDetaNo}		)
</insert>

<!-- **************************** 지시수정 ********************************** -->
<update id="updateIndica">
	UPDATE indica
	SET indica_dt = TO_DATE(#{indicaDt}, 'YYYY/MM/DD'),
		indica_nm = #{indicaNm}
	WHERE indica_no = #{indicaNo}
</update>

<update id="updateIndicaD">
	UPDATE indica_d
	SET	indica_dt = TO_DATE(#{indicaDt}, 'YYYY/MM/DD'),
		prod_fg = #{prodFg}
		indica_qty = #{indicaQty},
		wk_ord = #{wkOrd},
		wk_dt = #{wkDt}
	WHERE indica_deta_no = #{indicaDetaNo}
	AND indica_no = #{indicaNo}
</update>

<delete id="deleteIndica">
	DELETE FROM indica
	WHERE indica_nm = #{indicaNm}
</delete>

<delete id="deleteIndicaD">
	DELETE FROM indica_d
	WHERE indica_deta_no = #{indicaDetaNo}
	AND indica_no = #{indicaNo}
</delete>	
</mapper>