<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.prod.plan.service.impl.ProdPlanMapper">

<select id="selectPlan" resultType="ProdPlanVO">
	SELECT 
		B.plan_deta_no,
		A.plan_no,
		TO_CHAR(B.plan_dt, 'YYYY/MM/DD') plan_dt,
		(SELECT co_nm FROM co WHERE co_cd = O.co_cd) co_nm,
		O.co_cd,
		TO_CHAR((SELECT recv_dt FROM order_tb WHERE order_no = b.order_no), 'YYYY/MM/DD') recv_dt,
		B.prdt_cd, 
		(SELECT prdt_nm FROM prdt WHERE prdt_cd = B.prdt_cd) prdt_nm,
		B.order_no,
		TO_CHAR(O.paprd_dt, 'YYYY/MM/DD') paprd_dt,
		(SELECT order_qty FROM order_d WHERE order_no = B.order_no AND prdt_cd =B.prdt_cd) order_qty,
		B.plan_qty,
		TO_CHAR(B.wk_dt, 'YYYY/MM/DD') wk_dt,
		B.wk_ord,
		TO_CHAR(A.plan_dt, 'YYYY/MM/DD') plan_dt,
		A.plan_nm,
		(SELECT min(uph)*24 FROM EQM) as day_output,
		ROUND((B.plan_qty/(SELECT min(uph)*8 FROM EQM)), 2) as prod_day
	FROM plan A, plan_d B, order_tb O
	WHERE A.plan_no = B.plan_no
    AND B.order_no = O.order_no
		<if test="startT != null and startT != ''">
		AND B.plan_dt <![CDATA[>=]]> TO_DATE(#{startT}, 'YYYY/MM/DD')
		</if>
		<if test="endT != null and endT != ''">
		AND B.plan_dt <![CDATA[<=]]> TO_DATE(#{endT}, 'YYYY/MM/DD')
		</if>
		<if test="coCd != null and coCd != ''">
		AND O.co_cd = #{coCd}
		</if>
		<if test="prdtCd != null and prdtCd != ''">
		AND B.prdt_cd = #{prdtCd}
		</if>
		<if test="planNo != null and planNo != ''">
		AND B.plan_no = #{planNo}
		</if>
		<choose>
		<when test="nowSt !=null and nowSt != ''">
			<choose>
				<when test='nowSt == "미진행"'>
					 AND (select indica_qty from order_d where order_no = o.order_no and prdt_cd = b.prdt_cd) = 0
				</when>
				<when test='nowSt == "진행"'>
					AND (select indica_qty from order_d where order_no = o.order_no and prdt_cd = b.prdt_cd) > 0
				</when>
			</choose>
		</when>
		</choose>
	ORDER BY paprd_dt, order_qty desc
</select>

<select id="selectRstc" resultType="ProdPlanVO">
	SELECT
		a.prdt_cd,
		(SELECT prdt_nm FROM prdt WHERE prdt_cd = a.prdt_cd) prdt_nm,
		a.rsc_cd,
		(SELECT rsc_nm FROM rsc WHERE rsc_cd = a.rsc_cd) rsc_nm,
		a.rsc_use_qty,
		(SELECT rsc_stc FROM rsc_stc WHERE rsc_cd = b.rsc_cd) rsc_stc
	FROM prdt_bom a, rsc b, order_d o
	WHERE a.rsc_cd = b.rsc_cd
    AND   a.prdt_cd = o.prdt_cd
    AND o.order_no = #{orderNo}
    AND	o.prdt_cd = #{prdtCd}
    order by prdt_cd
</select>

<select id="findProdPlan" resultType="ProdPlanVO">
	SELECT DISTINCT
		a.plan_no,
		TO_CHAR(a.plan_dt, 'YYYY-MM-DD') plan_dt,
		a.plan_nm	
	FROM plan a
    LEFT JOIN plan_d b ON b.plan_no = a.plan_no
    JOIN order_d o ON o.order_no = b.order_no
    WHERE 1=1
    <choose>
		<when test="nowSt !=null and nowSt != ''">
			<choose>
				<when test='nowSt == "미진행"'>
					 AND o.indica_qty = 0
				</when>
				<when test='nowSt == "진행"'>
					AND o.indica_qty > 0
				</when>
			</choose>
		</when>
		<otherwise>
			AND o.indica_qty = 0
		</otherwise>
	</choose>
	ORDER BY plan_no
</select>

<select id="findOrder" resultType="ProdPlanVO">
	SELECT DISTINCT
	    o.order_no, 
	    TO_CHAR(o.recv_dt, 'YYYY-MM-DD') recv_dt,
	    o.co_cd,
	    o.prog_info,
	    TO_CHAR(o.paprd_dt, 'YYYY-MM-DD') paprd_dt
	FROM order_tb o 
	LEFT JOIN plan_d p ON p.order_no = o.order_no
	LEFT JOIN order_d od ON od.order_no = o.order_no
	WHERE o.prog_info != '종료'
	AND p.plan_no is null
	ORDER BY 1, 2
</select>

<select id="searchOrder" resultType="ProdPlanVO">
	SELECT 
		B.order_deta_no,
		B.order_no,
		TO_CHAR(A.paprd_dt, 'YYYY-MM-DD') paprd_dt, 
		TO_CHAR(A.recv_dt, 'YYYY-MM-DD') recv_dt,
		B.prdt_cd,
		(SELECT prdt_nm FROM prdt WHERE prdt_cd = B.prdt_cd) prdt_nm,
		B.order_qty,
        B.prdt_stc,
        (select min(uph)*8 from eqm) as day_output
	FROM order_tb A, order_d B
	WHERE A.order_no = B.order_no
	<if test="orderNo != null and orderNo != ''">
		AND B.order_no = #{orderNo}
	</if>
</select>

<select id="findCoCd" resultType="ProdPlanVO">
	SELECT * 
	FROM co
	WHERE 1=1
	<if test="coCd !=null and coCd !=''">
		AND co_cd like '%'||#{coCd}||'%'
	</if>
	<if test="coNm !=null and coNm !=''">
		AND co_nm like '%'||#{coNm}||'%'
	</if>
</select>
	
<select id="findPrdtCd" resultType="ProdPlanVO">
	SELECT *
	FROM prdt
	WHERE 1=1
	<if test="prdtCd !=null and prdtCd !=''">
		AND prdt_cd like '%'||#{prdtCd}||'%'
	</if>
	<if test="prdtNm !=null and prdtNm !=''">
		AND prdt_nm like '%'||#{prdtNm}||'%'
	</if>
	ORDER BY prdt_cd asc
</select>

<insert id="insertPlan">
	INSERT INTO plan (plan_no,
					  plan_dt,
					  plan_nm)
	VALUES( CREATENO('PLA', PLANSEQ.nextval), 
			TO_DATE(#{planDt}, 'YYYY/MM/DD'),
			#{planNm} )
</insert>

<insert id="insertPlanD">
	<selectKey keyProperty="planDetaNo" resultType="int" order="BEFORE"> 
		SELECT nvl(max(plan_deta_no), 0)+1 from plan_d
	</selectKey>
	INSERT INTO plan_d (plan_deta_no,
						plan_no,
						plan_dt,
						order_no,
						recv_dt,
						prdt_cd,
						plan_qty,
						wk_ord,
						wk_dt)
	VALUES( #{planDetaNo}, 
			(SELECT nvl(max(plan_no),0) FROM PLAN), 
			TO_DATE(#{planDt}, 'YYYY/MM/DD'),
			#{orderNo}, 
			TO_DATE(#{recvDt}, 'YYYY/MM/DD'),
			#{prdtCd}, 
			#{planQty}, 
			#{wkOrd}, 
			TO_DATE(#{wkDt}, 'YYYY/MM/DD') )
</insert>

<delete id="deletePlan">
	DELETE FROM plan
	WHERE plan_nm = #{planNm}
</delete>

<delete id="deletePlanD">
	DELETE FROM plan_d
	WHERE plan_deta_no = #{planDetaNo}
	AND plan_no = #{planNo}
</delete>

<update id="updatePlan">
	UPDATE plan
	SET plan_dt = TO_DATE(#{planDt}, 'YYYY/MM/DD'),
		plan_nm = #{planNm}
	WHERE plan_no = #{planNo}
</update>

<update id="updatePlanD">
<if test="planNo!=null and planNo!=''">
	UPDATE plan_D
	SET	plan_dt = #{planDt},
		plan_qty = #{planQty},
		wk_ord = #{wkOrd},
		wk_dt = TO_DATE(#{wkDt}, 'YYYY/MM/DD')
	WHERE plan_deta_no = #{planDetaNo}
	AND plan_no = #{planNo}
</if>
</update>

<insert id="insertDmnd">
	INSERT INTO ordr_dmnd (	dmnd_no,
							rsc_cd,
							dmnd_qty,
							rsc_nm,
							co_nm	)
	VALUES (	DMNDSEQ.nextval,
				#{rscCd},
				#{lackStc},
				(SELECT rsc_nm FROM rsc WHERE rsc_cd = #{rscCd}),
				(SELECT co_nm FROM co WHERE co_cd = (SELECT co_cd FROM rsc WHERE rsc_cd = #{rscCd}))	)
</insert>

</mapper>