<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.cmm.code.service.impl.CmmnCdMapper">

	<select id="select" resultType="map" parameterType="string">
		select cmmn_cd_deta_id "value", cmmn_cd_nm "text" from cmmn_data_d
		where cmmn_cd_id = #{cd}
	</select>

	<select id="selectCd" resultType="map" parameterType="string">
		select cmmn_cd_deta_id "value", cmmn_cd_deta_id "text" from cmmn_data_d
		where cmmn_cd_id = #{cd}
	</select>
</mapper>