<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.prcs2.service.impl.Prcs2Mapper">

	<select id="searchPlanList"  resultType="Prcs2">
		select p.prdt_lot,p.prdt_cd,p.prdt_fg,p.indica_deta_no from prdt_stc p join indica_d i on p.indica_deta_no = i.indica_deta_no and i.indica_no =#{indicaNo}
		where  p.prdt_fg not in ('I','O') order by p.prdt_lot
	
	</select>
	
	<insert id="insertData" useGeneratedKeys="true"
        keyProperty="wkNo" keyColumn="wk_no">
		insert into prcs_m values(CREATENO('WK',wkseq.nextval),sysdate,#{indicaNo},#{empId})
	</insert>
	
<!-- 	<insert id="insertDetail">
		insert into prcs_d values(prcsseq.nextval,#{prdtLot},#{prdtFg},#{prdtCd},#{indicaDetaNo},null,null,null,#{wkNo},#{wkDt})
	</insert> -->
		<insert id="insertDetailO">
		insert into prcs_d_o values(prcsseqtwo.nextval,#{prdtLot},#{prdtFg},#{prdtCd},#{indicaDetaNo},null,null,null,#{wkNo},#{wkDt})
	</insert>
	
		<select id="findTemp"  resultType="Prcs2">
		select * from prcs_d_o 
	
	</select>
	
	<select id="ableEqm" resultType="EqmAble">
		select * from eqm where eqm_yn ='Y' and li_no = #{liNo} order by li_no
	</select>
	
	<update id="updatePEqm">
		update eqm set eqm_yn='P' where eqm_cd = #{eqmCd}
	</update>
	<update id="updateYEqm">
		update eqm set eqm_yn='Y' where eqm_cd = #{eqmCd}
	</update>
	
	<insert id="insertMid">
		insert into prcs_d values( #{prdtIdx},#{prdtLot},#{prdtFg},#{prdtCd},#{indicaDetaNo},#{prcsFrTm},#{prcsToTm},#{eqmCd},#{wkNo},#{wkDt} )
	</insert>
	<update id="updateFr">
		update prcs_d_o set prcs_fr_tm = #{prcsFrTm} where prdt_idx= #{prdtIdx}
	</update>
	<update id="updateTo">
		update prcs_d_o set prcs_to_tm = #{prcsToTm} where prdt_idx= #{prdtIdx}
	</update>
	<update id="updateFg">
		update prcs_d_o set prdt_fg = #{prdtFg},prcs_fr_tm=null,prcs_to_tm=null where prdt_idx= #{prdtIdx}
	</update>

	
</mapper>