<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.rsc.cmmn.service.impl.RscMapper">

	<select id="selectAll" resultType="solar.rsc.cmmn.service.Rsc">
		select * from rsc
	</select>
	
	<select id="search" resultType="solar.rsc.cmmn.service.Rsc">
		select r.*, c.co_nm
		from rsc r
		join co c
		on r.co_cd = c.co_cd
		where 1=1
		<if test='rscCd != null and rscCd != ""'>
			and co_cd like '%'||#{coCd}||'%'
		</if>
		<if test='coNm != null and coNm != ""'>
			and co_Nm like '%'||#{coNm}||'%'
		</if>
		order by r.rsc_cd
	</select>
</mapper>