<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.rsc.inout.service.impl.RscInOutMapper">

	<select id="selectAll" resultType="solar.rsc.inout.service.RscInOut">
		select *
		from rsc_inout i
		join rsc r
		on i.rsc_cd = r.rsc_cd
	</select>
	
	<insert id="insert" parameterType="solar.rsc.inout.service.RscInOut">
		<selectKey keyProperty="rscAmt" order="BEFORE" resultType="string">
			select rsc_untprc
			from rsc
			where rsc_cd = #{rscCd} 
		</selectKey>
		insert into rsc_inout
		values(
		#{rscSlipNo} || to_char(sysdate,'yyMMdd') || trim(to_char(RSCJEONPYOSEQ.nextval, '000')),
		#{rscCd},
		#{rscCd} || to_char(sysdate,'yyMMdd') || trim(to_char(RSCLOTSEQ.nextval, '000')),
		sysdate,
		#{rscQty},
		#{rscFg},
		#{rscAmt}*#{rscQty}
		)
	</insert>

	<update id="stcInc" parameterType="map">
		update rsc_stc
		set rsc_stc = rsc_stc + #{rscQty}
		where rsc_cd = #{rscCd}
	</update>
	
	<select id="search" resultType="solar.rsc.inout.service.RscInOut" parameterType="map">
		SELECT
		    to_char(i.rsc_dt,'yyyy/MM/dd') "rsc_dt",
		    r.rsc_nm,
		    i.rsc_cd,
		    i.rsc_lot,
		    i.rsc_qty,
		    i.rsc_slip_no,
		    i.rsc_amt,
		    c.co_nm
		FROM
		        rsc_inout i
		    JOIN rsc r ON i.rsc_cd = r.rsc_cd
		    JOIN co c ON r.co_cd = c.co_cd
		WHERE
		    1 = 1
		<if test='ordrDtStt != null and ordrDtStt != ""'>
			AND trunc(i.rsc_dt) <![CDATA[>= #{ordrDtStt}]]>
		</if>
		<if test='ordrDtEnd != null and ordrDtEnd != ""'>
			AND trunc(i.rsc_dt) <![CDATA[<= #{ordrDtEnd}]]>
		</if>
		<if test='co != null and co != ""'>
			AND c.co_cd = #{co}
		</if>
		<if test='rsc != null and rsc != ""'>
			AND i.rsc_cd = #{rsc}
		</if>
		<if test='rscFg != null and rscFg != ""'>
			AND i.rsc_fg = #{rscFg}
		</if>
		ORDER BY
		    rsc_dt
	</select>

</mapper>