<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.rsc.ordr.service.impl.RscOrdrMapper">

	<select id="search" resultType="solar.rsc.ordr.service.RscOrdr" parameterType="map">
		SELECT
		    to_char(o.ordr_dt,'yyyy/MM/dd') "ordr_dt",
		    r.rsc_nm,
		    r.rsc_cd,
		    o.ordr_qty,
		    o.ordr_cd,
		    c.co_nm,
		    o.rsc_ist_qty,
		    o.rsc_infer_qty,
		    o.insp_cls,
		    o.rsc_ist_qty - o.rsc_infer_qty "rsc_passed_qty"
		FROM
		    	rsc_or o
		    JOIN rsc r ON o.rsc_cd = r.rsc_cd
		    JOIN co c ON r.co_cd = c.co_cd
		WHERE
		    1 = 1
		<if test='inspCls != null and inspCls != ""'>
			AND o.insp_cls = #{inspCls}
			<if test='inspCls == "rs002"'>
				AND o.ordr_qty != o.rsc_infer_qty
			</if>
		</if>
		<if test='ordrDtStt != null and ordrDtStt != ""'>
			AND trunc(o.ordr_dt) <![CDATA[>= #{ordrDtStt}]]>
		</if>
		<if test='ordrDtEnd != null and ordrDtEnd != ""'>
			AND trunc(o.ordr_dt) <![CDATA[<= #{ordrDtEnd}]]>
		</if>
		<if test='co != null and co != ""'>
			AND c.co_cd = #{co}
		</if>
		<if test='rsc != null and rsc != ""'>
			AND o.rsc_cd = #{rsc}
		</if>
		ORDER BY
		    ordr_dt
	</select>
	
	
	<update id="update" parameterType="solar.rsc.ordr.service.RscOrdr">
		update rsc_or
		set
		    rsc_infer_qty = #{rscInferQty},
		    insp_cls = #{inspCls}
		where ordr_cd = #{ordrCd}
	</update>
	
</mapper>