<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.prcs.prcs.service.impl.PrcsMapper">

<select id="selectAll" resultType="solar.prcs.prcs.service.PrcsPrMVO">

		select wk_no,
				wk_dt,
				prod_fg,
				prdt_cd,
				ist_qty,
				wk_qty,
				infer_qty,
				prdt_lot,
				prcs_cd,
				indica_deta_no,
				indica_no,
				indica_dt
				
		 from prcs_pr_m
		 
</select>

<select id="selectPDay" resultType="solar.prcs.prcs.service.IndicaVO">

	SELECT id.INDICA_DETA_NO,
			id.INDICA_NO,
			id.INDICA_DT,
			id.PLAN_DETA_NO,
			id.PRDT_CD,
			id.PROD_FG,
			id.INDICA_QTY,
			id.WK_ORD,
			id.WK_DT,
			id.PLAN_DT,
			i.INDICA_NM,
            (SELECT PRDT_NM FROM PRDT WHERE PRDT_CD = id.PRDT_CD) AS PRDT_NM
	FROM INDICA i,
		INDICA_D id
	WHERE i.INDICA_NO = id.INDICA_NO
    AND i.INDICA_DT = id.INDICA_DT
	
	<if test="sDate != null">
		AND TRUNC(i.INDICA_DT) = #{sDate}	
	</if>
	
</select>

<select id="selectBasicItem" resultType="solar.prcs.prcs.service.ClotVO">
	select
		rsc_con_no,
		prdt_lot,
		prcs_cd,
		low_st,
		(select cmmn_cd_nm
	    from cmmn_data_d where cmmn_cd_deta_id=(select distinct prdt_cd from prdt_stc where prdt_lot=r.prdt_lot)) AS prdt_nm
	from rsc_clot r
	where prdt_lot in (select prdt_lot from prdt_stc where indica_deta_no = #{indicaDetaNo})
	and prcs_cd = '0'
	order by rsc_con_no

</select>

<select id="selectPrcsItem" resultType="solar.prcs.prcs.service.ClotVO">
	
	select 
	    rsc_con_no, 
	    prdt_lot, 
	    prcs_cd,
	    eqm_cd, 
	    wk_no, 
	    wk_dt,
	    low_st,
	    (select prcs_ord
	    from prcs_pr where eqm_cd = (select distinct eqm_cd from prcs where eqm_cd=r.eqm_cd)) AS prcs_ord,
	    (select cmmn_cd_nm
	    from cmmn_data_d where cmmn_cd_deta_id=(select distinct prdt_cd from prdt_stc where prdt_lot=r.prdt_lot)) AS prdt_nm
	from rsc_clot r
	where prdt_lot in (select prdt_lot from prdt_stc where indica_deta_no = #{indicaDetaNo})
	order by rsc_con_no
</select>


<select id="selectPrcsItemRSC" resultType="solar.prcs.prcs.service.RscConVO">
	
	select rsc_con_no,
			indica_deta_no,
			rsc_lot,
			rsc_con_qty 	
	from rsc_con
	where indica_deta_no= #{indicaDetaNo}
	
</select>

<select id="selectPrcs" resultType="solar.prcs.prcs.service.PrcsEqmVO">
	select distinct pc.*
	from prcs pc
	join prcs_pr pp
		on pc.prcs_cd = pp.prcs_cd
	join prdt pd
		on pd.prdt_cd = pp.prdt_cd
	where pd.prdt_cd = #{prdtCd}
	order by 1
</select>

<select id="selectPrcsFlow" resultType="solar.prcs.prcs.service.PrcsFlowVO">
	select pp.prcs_ord,
			 pp.prdt_cd, 
			 pp.eqm_cd, 
			 pp.prcs_cd, 
			 p.prcs_nm, 
			 p.prcs_desct 
	from prcs p, prcs_pr pp
	where p.prcs_cd=pp.prcs_cd
	and p.prcs_cd=#{prcsCd}
	order by eqm_cd
	

</select>


<select id="selectPrcsEqm" resultType="solar.prcs.prcs.service.PrcsEqmVO">
	select p.prcs_fg,
	        p.prcs_nm,
	        p.prcs_desct,
	        p.prcs_unit,
	        p.prod_pd,
	        e.eqm_cd,
	        e.eqm_fg,
	        e.eqm_nm,
	        e.eqm_mdl,
	        e.eqm_spec,
	        e.eqm_co,
	        e.purc_dt,
	        e.purc_amt,
	        e.li_no,
	        e.emp_id,
	        e.energy,
	        e.lf,
	        e.temp,
	        e.uph,
	        trunc((1/((e.uph/60)/60))*1000,3) AS pTime,
	        e.eqm_img,
	        e.prcs_cd,
	        e.eqm_yn
	from prcs p, eqm e
	where p.prcs_cd = e.prcs_cd
	
	<if test="prcsCd != null">
	AND e.prcs_cd = #{prcsCd}
	</if>
	
	order by eqm_cd
	
	

</select>

<insert id="insertPrcsPrM" parameterType="solar.prcs.prcs.service.PrcsPrMVO" useGeneratedKeys="true">
	<selectKey keyColumn="wkNo" keyProperty="wkNo" order="BEFORE" resultType="solar.prcs.prcs.service.PrcsPrMVO" >
		
		(select nvl(max(wk_no),0)+1 as wkNo from prcs_pr_m)
	
	</selectKey>
	
	insert into prcs_pr_m (wk_no,
							wk_dt,
							prod_fg,
							prdt_cd,
							prcs_cd,
							indica_deta_no,
							indica_no,
							indica_dt
					)
				 	values(	TO_NUMBER(#{wkNo}),
							sysdate,
							#{prodFg},
							#{prdtCd},
							#{prcsCd},
							#{indicaDetaNo},
							#{indicaNo},
							TO_DATE(#{indicaDt},'YYYY/MM/DD')
							)

</insert>

<insert id="insertRslt" parameterType="solar.prcs.rslt.service.RsltVO">
	insert into rslt (
					rslt_no,
					prdt_cd,
					emp_id,
					prcs_cd,
					ist_qty,
					rslt_qty,
					infer_qty
					fr_tm,
					to_tm,
					wk_no,
					wk_dt
				)
				values (
					(select nvl(max(rsc_con_no),0)+1 as rscConNo from rsc_clot),
					#{prdtCd},
					#{empId},
					#{prcsCd},
					#{istQty},
					#{rsltQty},
					#{inferQty},
					TO_DATE(#{frTm},'HH24:MI:SS'),
					TO_DATE(#{toTm},'HH24:MI:SS'),
					#{wkNo},
					#{wkDt}
				)
				
				
	
</insert>


<update id="updateRscClot" parameterType="solar.prcs.prcs.service.ClotVO">
	update rsc_clot set low_st = 'C'
            where prdt_lot=#{prdtLot}
</update>

<insert id="insertRscClot" parameterType="solar.prcs.prcs.service.ClotVO">
	insert into rsc_clot(rsc_con_no,
						prdt_lot,
						prcs_cd,
						eqm_cd,
						low_st,
						wk_no,
						wk_dt,
						prcs_fr_tm,
						prcs_to_tm)
				values( (select nvl(max(rsc_con_no),0)+1 as rscConNo from rsc_clot),
						#{prdtLot},
						#{prcsCd},
						#{eqmCd},
						#{lowSt},
						#{wkNo},
						sysdate,
						TO_DATE(#{prcsFrTm},'HH24:MI:SS'),
						TO_DATE(#{prcsToTm},'HH24:MI:SS')
				)	
</insert>

<insert id="insertPrdtStc" parameterType="solar.prcs.prcs.service.PrdtStcVO">
	insert into prdt_stc(
						prdt_inx,
						prdt_lot,
						prdt_fg,
						prdt_cd,
						indica_deta_no,
						prdt_dt
					)
					values(
						prdtseq.nextval,
						#{prdtLot},
						'C',
						#{prdtCd},
						#{indicaDetaNo},
						sysdate
					)
</insert>

<select id="rtSelectEqm" resultType="EqmVO">

	select * from eqm order by eqm_cd
		
</select>

<select id="rtSelectPrcsO" resultType="solar.prcs.prcs.service.PrcsDOVO">

	select * from prcs_d_o

</select>







</mapper>