<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.prcs.prcs.service.impl.PrcsMapper">

<select id="selectAll" resultType="solar.prcs.prcs.service.PrcsPrMVO">

		select wk_no,
				wk_dt,
				prod_fg,
				prdt_cd,
				ist_qty,
				wk_qty,
				infer_qty,
				prdt_lot,
				expc_tm,
				real_tm,
				prcs_cd,
				indica_deta_no,
				indica_no,
				indica_dt
				
		 from prcs_pr_m
		 
</select>

<select id="selectPDay" resultType="solar.prcs.prcs.service.IndicaVO">

	SELECT id.INDICA_DETA_NO,
			id.INDICA_NO,
			id.INDICA_DT,
			id.PLAN_DETA_NO,
			id.PRDT_CD,
			id.PROD_FG,
			id.INDICA_QTY,
			id.WK_ORD,
			id.WK_DT,
			id.PLAN_DT,
			i.INDICA_NM,
            (SELECT PRDT_NM FROM PRDT WHERE PRDT_CD = id.PRDT_CD) AS PRDT_NM
	FROM INDICA i,
		INDICA_D id
	WHERE i.INDICA_NO = id.INDICA_NO
    AND i.INDICA_DT = id.INDICA_DT
	
	<if test="sDate != null">
		AND TRUNC(i.INDICA_DT) = #{sDate}	
	</if>
	
</select>

<select id="selectPrcsItem" resultType="solar.prcs.prcs.service.ClotVO">
	
	select 
	    rsc_con_no, 
	    prdt_lot, 
	    prcs_cd, 
	    wk_no, 
	    wk_dt,
	    low_st,
	    (select cmmn_cd_nm
	    from cmmn_data_d where cmmn_cd_deta_id=(select distinct prdt_cd from prdt_stc where prdt_lot=r.prdt_lot)) AS prdt_nm
	from rsc_clot r
	where prdt_lot in (select prdt_lot from prdt_stc where indica_deta_no = #{indicaDetaNo})
	order by prdt_lot

</select>

<select id="selectPrcsItemRSC" resultType="solar.prcs.prcs.service.RscConVO">
	
	select rsc_con_no,
			indica_deta_no,
			rsc_lot,
			rsc_con_qty 	
	from rsc_con
	where indica_deta_no= #{indicaDetaNo}
	
</select>


<select id="selectPrcsEqm" resultType="solar.prcs.prcs.service.PrcsEqmVO">
	select p.prcs_fg,
	        p.prcs_nm,
	        p.prcs_desct,
	        p.prcs_unit,
	        p.prod_pd,
	        e.eqm_cd,
	        e.eqm_fg,
	        e.eqm_nm,
	        e.eqm_mdl,
	        e.eqm_spec,
	        e.eqm_co,
	        e.purc_dt,
	        e.purc_amt,
	        e.li_no,
	        e.emp_id,
	        e.energy,
	        e.lf,
	        e.temp,
	        e.uph,
	        trunc((1/((e.uph/60)/60))*1000,3) AS pTime,
	        e.eqm_img,
	        e.prcs_cd
	from prcs p, eqm e
	where p.prcs_cd = e.prcs_cd
	
	<if test="prcsCd != null">
	AND e.prcs_cd = #{prcsCd}
	</if>
	

</select>


<insert id="insertPrcsPrM" parameterType="solar.prcs.prcs.service.PrcsPrMVO" useGeneratedKeys="true">
	<selectKey keyColumn="wkNo" keyProperty="wkNo" order="BEFORE" resultType="solar.prcs.prcs.service.PrcsPrMVO" >
		
		(select nvl(max(wk_no),0)+1 as wkNo from prcs_pr_m)
	
	</selectKey>
	
	insert into prcs_pr_m (wk_no,
							wk_dt,
							prod_fg,
							prdt_cd,
							prcs_cd,
							indica_deta_no,
							indica_no,
							indica_dt
					)
				 	values(	#{wkNo},
							sysdate,
							#{prodFg},
							#{prdtCd},
							#{prcsCd},
							#{indicaDetaNo},
							#{indicaNo},
							#{indicaDt}
							)

					 		
					

</insert>

</mapper>