<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.cmm.emp.service.impl.EmpMapper">
	<select id="empList" resultType="solar.cmm.emp.dao.EmpVO">
		SELECT * FROM EMP
    </select>
    
    <select id="empdataFind" resultType="solar.cmm.emp.dao.EmpVO">
	SELECT * FROM EMP
	<where>
		<if test="empNm != null and empNm != ''">
			AND EMP_NM LIKE '%' || #{empNm} || '%'
		</if>
	</where>
	order by EMP_ID asc
	</select>
    
	
	<insert id="empInsert">
		INSERT INTO EMP(EMP_ID, EMP_PW, EMP_NM, EMP_NO, DEPT, WKDTY, PHONE, EMAIL, HIRE_DATE) 
		VALUES (#{empId}, 
		#{empPw},
		#{empNm},
		#{empNo}, 
		#{dept}, 
		#{wkdty}, 
		#{phone},  
		#{email}, 
		#{hireDate})
	</insert>

	<update id="empUpdate">
		UPDATE	EMP
		SET EMP_PW = #{empPw}
			, EMP_NM = #{empNm}
            , EMP_NO = #{empNo}
            , DEPT = #{dept}
			, WKDTY = #{wkdty}
			, PHONE = #{phone}
			, EMAIL = #{email}
			, HIRE_DATE = #{hireDate}
		WHERE EMP_ID = #{empPw}
	</update>

	<delete id="empDelete">
      DELETE FROM EMP
      WHERE EMP_ID = #{empId}
    </delete>

</mapper>