<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.cmm.prdt.service.impl.CmmPrdtMapper">
	<select id="prdtList" resultType="solar.cmm.prdt.dao.PrdtInferVO">
		SELECT * FROM PRDT_INFER_CD 
		ORDER BY PRDT_INFER_CD
    </select>
    
   <select id="prdtinferdataFind" resultType="solar.cmm.prdt.dao.PrdtInferVO">
	SELECT * FROM PRDT_INFER_CD
	<where>
		<if test="prdtInferNm != null and prdtInferNm != ''">
			AND PRDT_INFER_NM LIKE '%' || #{prdtInferNm} || '%'
		</if>
	</where>
	order by PRDT_INFER_CD asc
	</select>

    <insert id="prdtInsert">
		INSERT INTO PRDT_INFER_CD(PRDT_INFER_CD, PRCS_CD, PRDT_INFER_NM, PRDT_INFER_DESCT, PRCS_NM) 
				VALUES (#{prdtInferCd }, #{prcsCd}, #{prdtInferNm}, #{prdtInferDesct}, #{prcsNm})
	</insert>

    <update id="prdtUpdate">
		UPDATE	PRDT_INFER_CD
		SET PRDT_INFER_CD = #{prdtInferCd}
			, PRDT_INFER_NM = #{prdtInferNm}
            , PRDT_INFER_DESCT = #{prdtInferDesct}
			, PRCS_CD = #{prcsCd}
			, PRCS_NM = #{prcsNm}
		WHERE PRDT_INFER_CD = #{prdtInferCd}
	</update>

     <delete id="prdtDelete">
      DELETE FROM PRDT_INFER_CD
      WHERE PRDT_INFER_CD = #{prdtInferCd}
   </delete>
</mapper>