<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.cmm.rscinfer.service.impl.RscinferMapper">
	<select id="rscinferList" resultType="solar.cmm.rscinfer.dao.RscinferVO">
		SELECT * FROM RSC_INFER_CD
    </select>
    
   <select id="rscinferdataFind" resultType="solar.cmm.rscinfer.dao.RscinferVO">
	SELECT * FROM RSC_INFER_CD
	<where>
		<if test="rscInferNm != null and rscInferNm != ''">
			AND RSC_INFER_NM LIKE '%' || #{rscInferNm} || '%'
		</if>
	</where>
	order by RTNGD_RESN_CD asc
	</select>

    <insert id="rscinferInsert">
		INSERT INTO RSC_INFER_CD(RTNGD_RESN_CD, RSC_INFER_NM, RSC_INFER_DESCT) 
		VALUES (#{rtngdResnCd}, #{rscInferNm}, #{rscInferDesct})
	</insert>

    <update id="rscinferUpdate">
		UPDATE	RTNGD_RESN_CD
		SET RSC_INFER_NM = #{rscInferNm }
			, RSC_INFER_DESCT = #{rscInferDesct}
		WHERE RTNGD_RESN_CD = #{rtngdResnCd}	
	</update>

    <delete id="rscinferDelete">
      DELETE FROM RSC_INFER_CD
      WHERE RTNGD_RESN_CD = #{rtngdResnCd}
   </delete>
</mapper>