<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solar.eqm.unop.service.impl.UnopMapper">
	
	<select id="selectUnopCdAll" resultType="solar.eqm.unop.service.UnopCdVO">
		select*from uopr_cd
		order by uopr_cd
	</select>


	<update id="updateEqmYn" parameterType="map">
		update
			eqm
		set
			eqm_yn = #{eqmYn}
		where
			eqm_cd = #{eqmCd}
	</update>
	
	<insert id="eqmuoInsert" parameterType="map">
		insert into
			eqm_uo(
				eqm_uo_no,
				fr_tm,
				eqm_cd,
				uopr_cd
			)
		values(
			eqmuoseq.nextval,
			sysdate,
			#{eqmCd},
			#{uoprCd}
		)
	</insert>
	
	<select id="selectUnopList" resultType="solar.eqm.unop.service.UnopVO">
		select
			eu.*, e.eqm_nm, uc.uopr_nm
		from
			eqm_uo eu
		join eqm e
			on eu.eqm_cd = e.eqm_cd
		join uopr_cd uc
			on uc.uopr_cd = eu.uopr_cd
		where 1=1
<!-- 		<if test=""> -->
<!-- 			and -->
<!-- 		</if> -->
		order by eu.eqm_uo_no
	</select>
	
	<select id="selectUnop" parameterType="map" resultType="solar.eqm.unop.service.UnopVO">
		select
			fr_tm,
			uopr_cd
		from
			eqm_uo
		where 1=1 
			and eqm_cd = #{eqmCd}
			and to_tm is null
	</select>
	
	<update id="updateToTm" parameterType="map">
		update
			eqm_uo
		set
			to_tm = sysdate
		where 1=1 
			and eqm_cd = #{eqmCd}
			and to_tm is null
	</update>
</mapper>