<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="solar.eqm.mng.service.impl.EqmMapper">
	 
<!-- 설비 조회 -->
<!--<select id="eqmList" resultType="EqmVO" parameterType="EqmVO">
    SELECT 
    	 EQM_CD
		  , EQM_FG
		  , EQM_NM
		  , EQM_MDL
		  , LI_NO
		  , EMP_ID
		  , ENERGY
		  , LF
		  , TEMP
		  , UPH
		  , PRCS_CD
    FROM EQM
    ORDER BY 1
</select> -->

	<select id="eqmList" resultType="EqmVO" parameterType="map">
		select e.eqm_cd, e.eqm_fg, e.eqm_nm, e.eqm_mdl, e.eqm_spec, e.eqm_co, to_char(e.purc_dt,'yyyy/MM/dd') "purc_dt", e.purc_amt, e.li_no, e.emp_id, e.energy, e.lf, e.temp, e.uph, e.eqm_img, e.prcs_cd, e.eqm_yn
		from eqm e
<!-- 		join prcs p -->
<!-- 			on e.prcs_cd = p.prcs_cd -->
		where 1=1
			<if test="eqmParam != null and eqmParam != ''">
				and(
					eqm_cd like '%'||#{eqmParam}||'%'
					or eqm_nm like '%'||#{eqmParam}||'%'
				)
			</if>
			<if test="dtStt != null and dtStt != ''">
				AND trunc(e.purc_dt) <![CDATA[>= #{dtStt}]]>
			</if>
			<if test="dtEnd != null and dtEnd != ''">
				AND trunc(e.purc_dt) <![CDATA[<= #{dtEnd}]]>
			</if>
		order by e.eqm_cd
	</select>
	
	<insert id="insert" parameterType="EqmVO">
		insert into eqm
		values(
			#{eqmCd},
			#{eqmFg},
			#{eqmNm},
			#{eqmMdl},
			#{eqmSpec},
			#{eqmCo},
			#{purcDt},
			#{purcAmt},
			#{liNo},
			#{empId},
			#{energy},
			#{lf},
			#{temp},
			#{uph},
			#{eqmImg},
			#{prcsCd},
			#{eqmYn}
		)
	</insert>

</mapper>
