<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="solar.eqm.mng.service.impl.EqmMapper">

	<select id="eqmList" resultType="EqmVO" parameterType="map">
		select distinct
			e.eqm_cd,
			e.eqm_fg,
			e.eqm_nm,
			e.eqm_mdl,
			e.eqm_spec,
			e.eqm_co,
			to_char(e.purc_dt,'yyyy/MM/dd') "purc_dt",
			e.purc_amt,
			e.li_no,
			e.emp_id,
			e.energy,
			e.lf,
			e.temp,
			e.uph,
			e.eqm_img,
			e.prcs_cd,
			e.eqm_yn
		from
			eqm e
		<if test='eqmParam2 == null or eqmParam2 == ""'>
			join prcs pc
			    on e.prcs_cd = pc.prcs_cd
			join prcs_pr pp
			    on pc.prcs_cd = pp.prcs_cd
			join prdt pd
			    on pp.prdt_cd = pd.prdt_cd
		</if>
		where 1=1
			<if test="eqmParam != null and eqmParam != ''">
				and(
					e.eqm_cd like '%'||#{eqmParam}||'%'
					or e.eqm_nm like '%'||#{eqmParam}||'%'
				)
			</if>
			<if test="dtStt != null and dtStt != ''">
				AND trunc(e.purc_dt) <![CDATA[>= #{dtStt}]]>
			</if>
			<if test="dtEnd != null and dtEnd != ''">
				AND trunc(e.purc_dt) <![CDATA[<= #{dtEnd}]]>
			</if>
			<if test='uoYn == "Y"'>
				AND e.eqm_yn = 'Y'
			</if>
			<if test='uoYn == "N"'>
				AND e.eqm_yn = 'N'
			</if>
		order by e.eqm_cd
	</select>
	
	<insert id="insert" parameterType="EqmVO">
		insert into eqm
		values(
			#{eqmCd},
			#{eqmFg},
			#{eqmNm},
			#{eqmMdl},
			#{eqmSpec},
			#{eqmCo},
			#{purcDt},
			#{purcAmt},
			#{liNo},
			#{empId},
			#{energy},
			#{lf},
			#{temp},
			#{uph},
			#{eqmImg},
			#{prcsCd},
			#{eqmYn}
		)
	</insert>
	
	<delete id="delete">
		delete from eqm
		where eqm_cd = #{eqmCd}
	</delete>
	
	<update id="update">
		update
			eqm
		set
			eqm_fg = #{eqmFg},
			eqm_nm = #{eqmNm},
			eqm_mdl = #{eqmMdl},
			eqm_spec = #{eqmSpec},
			eqm_co = #{eqmCo},
			purc_dt = #{purcDt},
			purc_amt = #{purcAmt},
			li_no = #{liNo},
			emp_id = #{empId},
			energy = #{energy},
			lf = #{lf},
			temp = #{temp},
			uph = #{uph},
			eqm_img = #{eqmImg},
			prcs_cd = #{prcsCd},
			eqm_yn = #{eqmYn}
		where
			eqm_cd = #{eqmCd}
	</update>

</mapper>
